  <h1>this is the about page</h1>
  
  <%= link_to 'home' , root_path  %>
  <%=link_to 'what_we_do' , what_we_do_path %>
  
  <%= link_to image_tag('niM7azZS.png') , 'https://workspace-vijay-rai.c9users.io' %>
  