<h1>this is the home page</h1>  

<%= link_to 'about', about_path  %>

<%=link_to 'what_we_do' , what_we_do_path %>
<%= link_to image_tag('star-sapphire_1229_600x450.png') , 'https://workspace-vijay-rai.c9users.io' %>
