<h1>we learn to devlope a fully functional ruby web page </h1>

<%= link_to 'about', about_path  %>

 <%= link_to 'home' , root_path  %>
  
  <%= link_to image_tag('POTD-dog_3562399k.png'), 'https://workspace-vijay-rai.c9users.io' %>